*{
    margin: 0;
    padding: 0;
}
@font-face {
    font-family: Inter;
    src: url("../fonts/Inter/static/Inter-Light.ttf");
}
@font-face {
    font-family: Righteous;
    src: url("../fonts/Righteous/Righteous-Regular.ttf");
}
@font-face {
    font-family: Urbanist;
    src: url("../fonts/Urbanist/static/Urbanist-Light.ttf");
}

.container{
    max-width: 1920px;
    width: 100%;
    margin: auto;
    font-family: sans-serif;
   overflow: hidden;
    box-sizing: border-box;
}
.nav{
    width: 100%;
    height: 125px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;
    position: sticky;
    top: 0;
    box-sizing: border-box;
    background: #1C1814;
    font-family: Inter;
}
.menu-1{
    width: 397px;
}
.menu-1 ul{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;
}
.menu-1 ul li{
    list-style: none;
}
.menu-1 ul li a{
    text-decoration: none;
    color: #FFFFFF;
    font-size: 18px;
    line-height: 125px;
    transition: all .5s;
}
.menu-1 ul li a:hover{
    color: #C99E71;
}
.logo{
   width: 72px;
   height: 60px; 
}
.logo img{
    margin-top: 32px;
    transition: all .5s;
}
.logo img:hover{
    transform: scale(1.1);
}
.menu-2{
    width: 417px;
}
.menu-2 ul{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;
}
.menu-2 ul li{
    list-style: none;
}
.menu-2 ul li a{
    text-decoration: none;
    color: #FFFFFF;
    font-size: 18px;
    line-height: 125px;
    transition: all .5s;
}
.menu-2 ul li a:hover{
    color: #C99E71;
}
.header{
    width: 100%;
    height: 750px;
    color: #FFFFFF;
    overflow: hidden;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;
    border: none;
    position: relative;
}

#video{
    min-width: 100%;
    min-height: 100%;
    position: absolute;
    top: 0;
    z-index: -1;
}
.header-tex{
    width: 529px;
    margin: 209px 0;
}
.header-tex h1{
    font-family: 'Righteous';
    font-style: normal;
    font-weight: 400;
    font-size: 72px;
    line-height: 130%;
}
.header-tex p{
    font-family: 'Urbanist';
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 180%;
    text-transform: capitalize;
    color: rgba(255, 255, 255, 0.8);
    margin-bottom: 88px;
}
.header-tex a{
    text-decoration: none;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 22px;
    text-transform: uppercase;
    color: #FFFFFF;
    background: #C99E71;
    padding: 24px 40px;
    transition: all .5s;
}
.header-tex a:hover{
    background: #fff;
    color: #C99E71;
}
.header-icon{
    margin-top: 450px;
    width: 93px;
    height: 109px;
    display: flex;
    flex-direction: column;
    align-items: left;
}
.header-icon i{
    box-sizing: border-box;
    font-size: 40px;
    padding: 30px 35px;
    border: 1px solid #fff;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    color: #fff;
    transition: all .5s;
}
.header-icon i:hover{
    color: #C99E71;
}
.header-icon p{
    margin-top: 15px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    text-transform: uppercase;
    text-align: center;
}
.content-1{
    padding: 140px 0px;
    background: #14110E;
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    box-sizing: border-box;
}
.content-1 img{
    transition: all .5s;
}
.content-1 img:hover{
    transform: scale(1.1);
}
.contents{
    width: 366px;
    height: 420px;
    margin: 0 20px;
}
.contents p{
    color: #ffffff;
    font-family: 'Righteous';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 30px;
    margin: 24px 0;
}
.contents strong{
    color: #C99E71;
    margin-right: 6px;
}
.content-2{
    padding-top: 140px;
    width: 100%;
    background: #14110E;
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    box-sizing: border-box;
}
.block-1{
    margin: 0 20px;
    width: 298px;
    box-sizing: border-box;
}
.block-1 img:nth-child(1){
    margin-bottom: 15px;
    width: 298px;
    height: 302px;
}
.block-1 img:nth-child(2){
    width: 298px;
    height: 302px;
}
.block-2{
    width: 298px;
    margin: 0 20px;
    box-sizing: border-box;
}
.block-2 img{
    width: 298px;
    height: 635px;
}
.block-3{
    padding: 120px 56px 147px 56px;
    width: 510px;
    background: #1C1814;
    margin: 0 20px;
    box-sizing: border-box;
}
.block-3 p:nth-child(1){
    color: #C99E71;
    font-family: 'Urbanist';
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 22px;
}
.block-3 h1{
    width: 398px;
    font-family: 'Righteous';
    font-style: normal;
    font-weight: 400;
    font-size: 48px;
    line-height: 130%;
    color: #FFFFFF;
    margin-top: 25px;
}
.block-3 p:nth-child(3){
    margin-top: 30px;
    width: 398px;
    font-family: 'Urbanist';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 180%;
    text-transform: capitalize;
    color: rgba(255, 255, 255, 0.8);
    opacity: 0.8;
    text-align: justify;
}
.product-tex{
    padding-top: 100px;
    background: #14110E;
    color: #fff;
    text-align: center;
    box-sizing: border-box;
}
.product-tex p{
    font-family: 'Urbanist';
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    color: #C99E71;
}
.product-tex h1{
    font-family: 'Righteous';
    font-style: normal;
    font-weight: 400;
    font-size: 48px;
}
.products{
    padding-top: 140px;
    width: 100%;
    background: #14110E;
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    box-sizing: border-box;
    text-align: center;
}

.product{
    width: 366px;
    height: auto;
    box-sizing: border-box;
}
.product p{
    font-family: 'Urbanist';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
    text-transform: uppercase;
    color: #C99E71;
    text-align: center;
    margin-top: 20px;
}
.product p:nth-child(4){
    color: #fff;
    font-family: 'Urbanist';
    font-family: 'Urbanist';
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 22px;
    text-transform: uppercase;
}
.product p:nth-child(4) strong{
    color: #C99E71;
}
.product h3{
    color: #fff;
    text-align: center;
    font-family: 'Righteous';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 30px;
    text-transform: uppercase;
    margin: 20px;
}
.product h3:nth-child(2){
    margin-bottom: 40px;
}
.product img{
    transition: all .5s;
}
.product img:hover{
    transform: scale(1.1);
}
.product .button{
    color: #fff;
    font-family: 'Urbanist';
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 22px;
    text-decoration: none;
    padding: 13px 20px;
    box-sizing: border-box;
    background-color: #C99E71;
    transition: all .5s;
}
.products .product .button:hover{
    background-color: #fff;
    color: #C99E71;
}
.container .button2{
    background: #14110E;
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    box-sizing: border-box;
    padding-top: 140px;
}
.container .button2 a{
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 22px;
    text-transform: uppercase;
    color: #FFFFFF;
    text-decoration: none;
    padding: 20px 36px;
    box-sizing: border-box;
    background-color: #C99E71;
    transition: all .5s;
}
.container .button2 a:hover{
    background-color: #fff;
    color: #C99E71;
}
.product-menu{
    padding: 30px;
    background: #14110E;
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
}
.menus{
    margin: 15px;
}
.menu{
    margin: 15px 0;
    width: 465px;
    padding: 10px;
    border: 1px solid #32323D;
    display: flex;
    flex-direction: row;
    flex-grow: 1;
    align-items: center;
    transition: all 1s;
}
.menu:hover{
    transform: scale(1.1);
}
.menu img{
    width: 72px;
    height: 72px;
}
.menu p{
    font-family: 'Righteous';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 30px;
    color: #fff;
    margin: 15px;
}
.menu p:nth-child(3){
    font-family: 'Urbanist';
    text-align: right;
    color: #C99E71;
}
.customers{
    background: #14110E;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    padding-top: 50px;
}
.customer{
    background-color: #1C1914;
    width: 465px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
    margin: 20px;
    padding: 15px;
    box-sizing: border-box;
}
.customer-first-row{
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    margin-bottom: 30px;
}
.customer-first-row img{
    width: 109px;
    height: 129px;
    margin-right: 20px;
}
.customer-first-row p{
    width: 300px;
    font-family: 'Urbanist';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 180%;
    text-transform: capitalize;
    color: rgba(255, 255, 255, 0.8);
    opacity: 0.8;
}
.customer-two-row{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;
}
.author{
    width: 130px;
}
.author h3{
    font-family: 'Urbanist';
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 120%;
    color: #fff;
}
.author p{
    font-family: 'Urbanist';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 180%;
    text-transform: capitalize;
    color: rgba(255, 255, 255, 0.5);
    opacity: 0.8;
    text-align: justify;
}
.author i{
    color: #FAA61A;
}
.customers_icon{
    max-width: 950px;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
}
.first_icon{
    padding: 10px;
    width: 150px;
}
.first_icon p{
    padding-bottom: 10px;
    color: #C99E71;
}
.leve{
    background-color: #2A2925;
    border-radius: 5px;
}
.two_leve{
    width: 75px;
    background-color: #C99E71;
    border: 4px solid #C99E71;
    border-radius: 5px;
}
.two_icon{
    width: 150px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
.two_icon i{
    color: #C3C4C6;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    background-color: #121315;
    box-sizing: border-box;
    padding: 22px;
    transition: all .5s;
    font-size: 18px;
}
.two_icon i:hover{
    background-color: #C99E71;
    color: #32281E;
}
.maps{
    padding-top: 80px;
    background-color: #14110E;
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
}
.map iframe{
    width: 460px;
    height: 400px;
}
.map-form{
    background-color: #1C1914;
    width: 460px;
    height: 400px;
    padding: 30px;
    box-sizing: border-box;
}
.map-form p{
    font-family: 'Urbanist';
    font-style: normal;
    font-weight: 600;
    font-size: 15px;
    color: #C99E71;
    text-align: center;
}
.map-form h1{
    font-family: 'Righteous';
    font-style: normal;
    font-weight: 400;
    font-size: 32px;
    color: #fff;
    margin-bottom: 15px;
    text-align: center;
}
.map-form input{
    margin: 15px 0;
    padding: 15px;
    width: 340px;
    border: none;
    outline: none;
    background-color: #15110E;
    color: #fff;
}
.map-form button{
    padding: 10px 20px;
    background-color: #C99E71;
    margin: auto;
    outline: none;
    border: none;
    border-radius: 3px;
    text-transform: uppercase;
    color: #fff;
    transition: all .5s;
}
.map-form button:hover{
    background-color: #fdfdfd;
    color: #C99E71;
}
.news{
    padding-top: 50px;
    background-color: #14110E;
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
}
.product-news{
    margin: 15px;
}
.product_first_tex{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    color: #FFFFFF;
    padding: 20px 5px 10px 5px;
}
.product_first_tex p strong{
    color: #C99E71;
}
.product-news h3{
    padding: 5px;
    color: #FFFFFF;
}
.product-news p:nth-child(4){
    color: #C99E71;
    padding: 5px;
    transition: all .5s;
}
.product-news p:nth-child(4):hover{
    color: yellow;
}
.product-news img{
    transition: all 1s;
    width: 360px;
    height: 350px;
}
.product-news img:hover{
    transform: scale(1.1);
}
.customers_icon{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
}
.footer1{
    padding-top: 100px;
    padding-bottom: 80px;
    width: 100%;
    height: 100px;
    background: #14110E;
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    color: #fff;

}
.footer1_logo{
    width: 90px;
    margin-top: 15px;
}
.footer1_logo img{
    transition: all .5s;
}
.footer1_logo img:hover{
    transform: scale(1.1);
}
.footer1_menu{
    max-width: 732px;
    width: 100%;
    height: 100px;
    margin: 0 10px;
}
.footer1_menu ul{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    flex-wrap: wrap;
    list-style: none;
}
.footer1_menu ul li a{
    font-family: 'Urbanist';
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 100px;
    color: #FFFFFF;
    text-decoration: none;
    transition: all .5s;
}
.footer1_menu ul li a:hover{
    color: #C99E71;
}
.footer1_send{
    position: relative;
    margin: 15px 0 25px 0;
}
.footer1_send input{
    box-sizing: border-box;
    padding: 20px;
    outline: none;
    border-radius: 50px;
    border: none;
    width: 340px;
    font-size: 22px;
    background: #1C1814;
    color: #fdfdfd;
}
.footer1_send input::placeholder{
    font-size: 18px;
}
.footer1_send i{
    width: 60px;
    height: 60px;
    border-radius: 50%;
    background: #C99E71;
    font-size: 22px;
    position: absolute;
    top: 1px;
    right: 1px;
    box-sizing: border-box;
    padding: 20px 20px;
    color: rgb(255, 255, 255);
    transition: all .5s;
}
.footer1_send i:hover{
    background: #ffffff;
    color: #C99E71;
}
.footer2{
    background: #1C1814;
    width: 100%;
    height: 80px;
    text-align: center;
}
.footer2 p{
    font-family: 'Urbanist';
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 80px;
    color: #FFFFFF;
}